{% extends 'common/base.html' %}

{% load i18n %}

{% block title %}
  {% trans "Login" %}
{% endblock %}

{% block pagetitle %}
  {% trans "Login" %}
{% endblock %}

{% block content %}
<div class="col-xs-12">
{% if user.is_authenticated %}
  <div class="well">
    <p class="text-center">{% trans "You are already logged in" %}.</p>
  </div>
{% else %}
  <div class="col-xs-6 col-xs-offset-3">
    <div class="well">
      <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <div class="text-center" style="padding-top: 20px;">
          <button type="submit" class="btn btn-primary btn-block">{% trans "Log in" %}</button>
        </div>
      </form>
    </div>
  </div>
{% endif %}
</div>

{% endblock %}

