{% extends 'common/base.html' %}

{% load i18n %}
{% load render_table from django_tables2 %}

{% block title %}
  {% trans "Home" %}
{% endblock %}

{% block pagetitle %}
  {% trans "Welcome!" %}
{% endblock %}

{% block head %}
<style>
.table-actions {
  padding-bottom: 20px;
}
</style>
{% endblock %}

{% block content %}
<div class="col-xs-12">
{% if user.is_authenticated %}
  <div class="table-actions text-right">
    <div class="btn-group btn-group-sm">
      <a href="{% url 'stacks:create' %}" class="btn btn-primary">{% trans "Launch Stack" %}</a>
    </div>
  </div>
  {% render_table stacks %}
{% else %}
  <div class="col-xs-6 col-xs-offset-3">
    <div class="well">
      <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <div class="text-center" style="padding-top: 20px;">
          <button type="submit" class="btn btn-primary btn-block">{% trans "Log in" %}</button>
        </div>
      </form>
    </div>
  </div>
{% endif %}
</div>

{% endblock %}

