<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{% block modal_title %}{% endblock %}</h4>
      </div>
      <div id="form-modal-body" class="modal-body">
        {% block modal_body %}{% endblock %}
      </div>
      <div class="modal-footer">
        {% block modal_footer %}{% endblock %}
      </div>
    </div>
  </div>
</div>

